.signin {
  width: 100%;
  height: 70vh;
  background-color: rgba(163, 159, 159, 0);
}

h5 {
  cursor: pointer;
  text-decoration: underline;
  margin: 8px;
  color: teal;
}

h5:hover {
  color: cadetblue;
}

.sigin_welcome {
  margin-bottom: 1rem;
}

.sigin_welcome > span {
  color: cornflowerblue;
}
